// --- SASS SCSS ---
$navbar-height: 4.3rem;
$primary-background: #4395F7;

$secondary-light-background: #F1F2F7;
$secondary-dark-background: #383838;

$online-bg: #5CCF68;

$border-app: #F3F5F7;
$border-dark-app: #2D2F33;

$input-chat-light-background: #FAF9FC;
$input-chat-dark-background: #313237;

.primary-bg {
    background: $primary-background;
}

.online-bg {
    background: $online-bg;
}

.card-blur-bg {
    backdrop-filter: blur(10px);
}

.light-background {
    .card-blur-bg {
        background: rgba(255, 255, 255, 0.822);
        color: rgb(31, 31, 31);
    }

    .secondary-bg {
        background: $secondary-light-background;
    }

    .secondary-bg-hover:hover {
        background: $secondary-light-background;
    }
    
    .border-bottom-c {
        border-bottom: 1px solid $border-app;
    }

    .border-right-c {
        border-right: 1px solid $border-app;
    }

    .border-c {
        border: 1px solid $border-app; 
    }

    .chat-input-bg {
        background: $input-chat-light-background
    }
}

.dark-background {
    .card-blur-bg {
        background: rgba(0, 0, 0, 0.514);
        color: rgb(255, 255, 255);
        textarea { color: white; }
    }

    .secondary-bg {
        background: $secondary-dark-background;
    }

    .secondary-bg-hover:hover {
        background: $secondary-dark-background;
    }

    .border-bottom-c {
        border-bottom: 1px solid $border-dark-app;
    }

    .border-right-c {
        border-right: 1px solid $border-dark-app;
    }

    .border-c {
        border: 1px solid $border-dark-app;
    }

    .chat-input-bg {
        background: $input-chat-dark-background;
    }
}